// Default Nextflow configuration for RedDust Reclaimer

profiles {
  standard {
    process.executor = 'local'
    process.errorStrategy = 'retry'
    process.maxRetries = 1
    process.conda = true
    conda.enabled = true
    conda.file = 'environment.yml'
    publishDir = 'results/nextflow'
  }

  docker {
    docker.enabled = true
    process.container = 'jonahnki/reddust-reclaimer:latest'
  }
}

// Resource labels (optional)
process {
  withLabel: small {
    cpus = 2
    memory = '4 GB'
    time = '1h'
  }
}
